html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1000px;
  margin: auto;
}

.row {
    width: 100%;
}

.row::after {
    content: '';
    clear: both;
    display: block;
}


[class*="col-"]{
  width: 100%;
}
[class*="col-"]{
  float: left;
  padding: 15px;
}

/* header start */
header{
    background: #24a19c;
    padding: 0% 1%;
    text-align: center;
}
.logo{
    color: aliceblue;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    border: 2px solid aliceblue;
    text-align: center;
}
nav ul li{
    display: block;
}

nav ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 70px;
    color: aliceblue;
    padding: 0 20px;
    font-size: 0.9rem;
    font-family: "Roboto Slab", serif;
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}
/* header end */

/* banner section start here */
#banner-section{
    background-image: url(images/bannerImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.banner-content{
    text-align: center;
    padding: 50px 10px;
}
.banner-content h1{
    width: 100%;
    background-color:  rgba(255, 255, 0, 0.884);
    margin: 15px auto;
    padding: 16px;
    border-radius: 10px;
    font-family: 'Handlee', cursive;
    font-size: 3rem;
}
.banner-content p{
    width: 300px;
    margin: 15px auto;
    background: rgb(0, 128, 0);
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
}
.btn{
    width: 160px;
    padding: 10px;
    margin: 15px auto;
    border-radius: 9px;
    font-size: 1.2rem;
    border: none;
    background: rgb(0, 128, 0);
    color: white;
    text-transform: uppercase;
    transition: .4s;
}
.btn:hover{
    transform: scale(1.2);
}
/* banner section end here */

/* about us section start */
#about-us-section{
    padding: 1%;
}
.about-us-content{
    text-align: center;
}
.about-us-content h3{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bolder;
}
.about-us-contents p {
    font-size: 0.8rem;
    margin-bottom: 10px;
}
/* about us section end */

/* menu section start */
#menu-section{
    padding: 1%;
}
.card-body{
    text-align: center;
}
.card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}
.item-des{
    background: rgb(165, 164, 164);
}

.item-name{
    background-color: green;
    color: white;
    padding: 10px;
}
.item-des p{
    font-size: 0.8rem;
    padding: 10px;
    font-weight: bold;
}
.card{
    transition: 0.4s;
}
.card:hover{
    transform: scale(1.1);
}

/* menu section end */

/* contact section start */
#contact{
    padding: 1%;
    background-color: #595b83;
}
.contact-details{
    color: white;
    text-align: center;
    padding: 20px 0;
}
.map {
    width: 100%;
    height: 250px;
}
.contact-details p,
address {
    font-size: 0.8rem;
}

/* contact section end */

/* footer section start */
footer{
    padding: 1%;
    background-color: #060930;
    color: white;
    text-align: center;
}
footer p{
    font-size: 0.8rem;
    line-height: 32px;
}
.icon-style{
    color: white;
    height: 32px;
    width: 32px;
    line-height: 32px; 
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 10px;
    text-align: center;
    transition: 0.4s;
}
.icon-style:hover{
    background-color: grey;
    transform: scale(1.2);
}
/* footer section end */

/* Small devices (portrait tablets and large phones, 576px and up) */
@media screen and (min-width: 576px) {

  .col-sm-1 {
      width: 8.33%;
  }

  .col-sm-2 {
      width: 16.66%;
  }

  .col-sm-3 {
      width: 25%;
  }

  .col-sm-4 {
      width: 33.33%;
  }

  .col-sm-5 {
      width: 41.66%;
  }

  .col-sm-6 {
      width: 50%;
  }

  .col-sm-7 {
      width: 58.33%;
  }

  .col-sm-8 {
      width: 66.66%;
  }

  .col-sm-9 {
      width: 75%;
  }

  .col-sm-10 {
      width: 83.33%;
  }

  .col-sm-11 {
      width: 91.66%;
  }

  .col-sm-12 {
      width: 100%;
  }



}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .col-md-1 {
      width: 8.33%;
  }

  .col-md-2 {
      width: 16.66%;
  }

  .col-md-3 {
      width: 25%;
  }

  .col-md-4 {
      width: 33.33%;
  }

  .col-md-5 {
      width: 41.66%;
  }

  .col-md-6 {
      width: 50%;
  }

  .col-md-7 {
      width: 58.33%;
  }

  .col-md-8 {
      width: 66.66%;
  }

  .col-md-9 {
      width: 75%;
  }

  .col-md-10 {
      width: 83.33%;
  }

  .col-md-11 {
      width: 91.66%;
  }

  .col-md-12 {
      width: 100%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .log-div{
        text-align: left;
    }
    nav ul{
        text-align: right;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a{
        display: inline-block;
        transition: 0.4s;
    }
    nav ul li a:hover{
        background-color: transparent;
        text-decoration: underline;
        transform: scale(1.2);
        color: #4208e2;
        font-weight: bold;
    }

  /* Large screen column width */
  .col-lg-1 {
      width: 8.33%;
  }

  .col-lg-2 {
      width: 16.66%;
  }

  .col-lg-3 {
      width: 25%;
  }

  .col-lg-4 {
      width: 33.33%;
  }

  .col-lg-5 {
      width: 41.66%;
  }

  .col-lg-6 {
      width: 50%;
  }

  .col-lg-7 {
      width: 58.33%;
  }

  .col-lg-8 {
      width: 66.66%;
  }

  .col-lg-9 {
      width: 75%;
  }

  .col-lg-10 {
      width: 83.33%;
  }

  .col-lg-11 {
      width: 91.66%;
  }

  .col-lg-12 {
      width: 100%;
  }
}